
html{height:100%;}
body{
    display:flex;
    flex-direction: column;
    height: 100%;
    background-color:rgb(197,140,120) !important;
    overflow-y: auto;
}
.Centralizar{
    display:flex;
    justify-content: center;
    align-items: center;
}
main{height:calc(100vh - 100px);
    flex-direction: column}
main .SpanLogo{margin-bottom: 25px}
main div{margin: 5px;}